<!--The content below is only a placeholder and can be replaced.-->
<div>
  <form>
  <span>
    <input type="text" [(ngModel)]="searchText" placeholder="Search" value="searchText" name="search">
    <button class="submit" value="submit" (click)="getSearchData()">Search</button>
  </span>
  </form>
</div>
<br>
<br>
<div class="flex-container">
  <div>
    <ul style="list-style-type: none;" *ngFor="let t of temp">
      <li (click)="getDetails(t)">{{t.temp_max}}</li>
    </ul>
  </div>
  <div>{{((showData)? (showData | json): '') }}</div>
</div>
